# Lines added by author

# ZephyrOS submodule configuration
[submodule "ZephyrOS/mcuboot"]
	path = ZephyrOS/bootloader/mcuboot
	url = https://github.com/zephyrproject-rtos/mcuboot
[submodule "ZephyrOS/hal_atmel"]
	path = ZephyrOS/modules/hal/atmel
	url = https://github.com/zephyrproject-rtos/hal_atmel.git
[submodule "ZephyrOS/canopennode"]
	path = ZephyrOS/modules/lib/canopennode
	url = https://github.com/zephyrproject-rtos/canopennode.git
[submodule "ZephyrOS/ci-tools"]
	path = ZephyrOS/tools/ci-tools
	url = https://github.com/zephyrproject-rtos/ci-tools.git
[submodule "ZephyrOS/civetweb"]
	path = ZephyrOS/modules/lib/civetweb
	url = https://github.com/zephyrproject-rtos/civetweb.git
[submodule "ZephyrOS/esp-idf"]
	path = ZephyrOS/modules/hal/esp-idf
	url = https://github.com/zephyrproject-rtos/esp-idf.git   
[submodule "ZephyrOS/fatfs"]
	path = ZephyrOS/modules/fs/fatfs
	url = https://github.com/zephyrproject-rtos/fatfs.git     
[submodule "ZephyrOS/hal_nordic"]
	path = ZephyrOS/modules/hal/nordic
	url = https://github.com/zephyrproject-rtos/hal_nordic.git   
[submodule "ZephyrOS/libmetal"]
	path = ZephyrOS/modules/hal/libmetal
	url = https://github.com/zephyrproject-rtos/libmetal.git
[submodule "ZephyrOS/lvgl"]
	path = ZephyrOS/modules/lib/gui/lvgl
	url = https://github.com/zephyrproject-rtos/lvgl.git 
[submodule "ZephyrOS/mbedtls"]
	path = ZephyrOS/modules/crypto/mbedtls
	url = https://github.com/zephyrproject-rtos/mbedtls.git   
[submodule "ZephyrOS/mcumgr"]
	path = ZephyrOS/modules/lib/mcumgr
	url = https://github.com/zephyrproject-rtos/mcumgr.git  
[submodule "ZephyrOS/net-tools"]
	path = ZephyrOS/tools/net-tools
	url = https://github.com/zephyrproject-rtos/net-tools.git    
[submodule "ZephyrOS/open-amp"]
	path = ZephyrOS/modules/lib/open-amp
	url = https://github.com/zephyrproject-rtos/open-amp.git   
[submodule "ZephyrOS/loramac-node"]
	path = ZephyrOS/modules/lib/loramac-node
	url = https://github.com/zephyrproject-rtos/loramac-node.git  
[submodule "ZephyrOS/openthread"]
	path = ZephyrOS/modules/lib/openthread
	url = https://github.com/zephyrproject-rtos/openthread.git
[submodule "ZephyrOS/segger"]
	path = ZephyrOS/modules/debug/segger
	url = https://github.com/zephyrproject-rtos/segger.git  
	path = Mynewt/mynewt-core
