# mynewt submodule configuration
[submodule "Mynewt/mynewt-core"]
	path = Mynewt/repos/apache-mynewt-core
	url = https://github.com/apache/mynewt-core.git
[submodule "Mynewt/mynewt-mcumgr"]
	path = Mynewt/repos/apache-mynewt-mcumgr
	url = https://github.com/apache/mynewt-mcumgr.git
[submodule "Mynewt/mbedtls"]
	path = Mynewt/repos/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
    commit = aeb97a18913a86f051afab11b2c92c6be0c2eb83
[submodule "Mynewt/mcuboot"]
	path = Mynewt/repos/mcuboot
	url = https://github.com/runtimeco/mcuboot.git
[submodule "Mynewt/nordic-nrfx"]
	path = Mynewt/repos/nordic-nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "Mynewt/littlefs"]
    path = Mynewt/repos/littlefs
    url = https://github.com/ARMmbed/littlefs.git
[submodule "Mynewt/lvgl"]
    path = Mynewt/repos/lvgl
    url = https://github.com/lvgl/lvgl.git
  